*{
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
    font-size: 16pt;
}
  body{
    background: url(../images/interfaces/interface.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.music_icons{
  display: none;
}
canvas{
    margin-left: calc(50% - 450px);
    margin-top: 10vh;
    border-radius: 25px;
    border: 4px solid #000;
}

h1{
  font-size: 25pt;
}

.btn{
  height: 90px;
  width: 90px;
  outline:0;
}

.displaynone{
  display: none;
}

.popup{
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .7);
  z-index: 19;
}

.popup > div{
  position: absolute;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 18%;
  background: url(../images/interfaces/popup.png) no-repeat;
  background-size: cover;
  border: 4px solid #000;
  border-radius: 50px;
  text-align: center;
  z-index: 20;
  opacity: 1;
}

.playbtn{
  position: absolute;
  left: calc(50% - 75px);
  top: 370px;
  width: 150px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 25px;
  background-color: #A5DAFF;
}

.playbtn:hover{
  background-color:#76a6c9;
  transform: scaleX(.95);
}

.playbtn:active{
  background-color:#76a6c9;
  transform: scaleX(.9);
}

.removebtn{
  position: absolute;
  left: calc(30% - 75px);
}

.startnew{
  position: absolute;
  left: calc(70% - 75px);
}

button:focus {outline:0;}
input:focus{outline: 0;}

#sends, #load, #protect{
  background: #A5DAFF no-repeat;
  background-size: cover;
  border: 4px solid #000;
  border-radius:50px;
}

#buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 18;
  margin-top: -60px;
}

#buttons > *{
  margin-left:4%;
  margin-right:4%;
}


.filtergray{
  filter: grayscale(1);
}

.name{
  width: 150px;
  height: 50px;
  background: #A5DAFF;
  margin-left: calc(50% - 75px);
  border-radius: 25px;
  border: 4px solid #000;
  margin-top: -30px;
  margin-bottom: 50px;
}

#rules > div{
  width: 90%!important;
  height: auto!important;
  padding-bottom: 2%;
  position:absolute;
  left: 5%;
}
#playRules{
  position: absolute;
  top: 428px!important;
}
#sends{
  background: #A5DAFF url(../images/interfaces/send.png) no-repeat;
  background-size: cover;
}
#load{
  background: #A5DAFF url(../images/interfaces/load.png) no-repeat;
  background-size: cover;
  left: 47%;
  top: 77%;
}

#protect{
  background: #A5DAFF url(../images/interfaces/protect.png) no-repeat;
  background-size: cover;
  left: 60%;
  top: 77%;
}

#rulesgame{
  position: absolute;
  width: 30%;
  left: 36%;
  top:42%;
}

#sends:hover, #load:hover, #protect:hover {
  transform: scale(.95);
  background-color: #76a6c9;
}

#sends:active, #load:active, #protect:active {
  transform: scale(.9);
}

.filtergray:hover{
  transform: scale(1)!important;
  background-color: #A5DAFF!important;
}

#interface{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

#infoPlayer, #infoBots{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  background: #A5DAFF;
  border: 4px solid #000;
  border-radius: 50px;
}

#infoName{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#infoName > div{
  width: 150px;
  height: 50px;
  background: #A5DAFF;
  border: 4px solid #000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index:5;
}


#infoName > div:nth-child(2){
  margin-top: -10px;
  position: relative;
  z-index:4;
  width: 80px;
  height: 50px;
}

#end > div > div, #remove > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20pt;
}

#end > div > div > div,
#remove > div > div > div > div{
  display: flex;
  flex-direction: column;
  font-size: 20pt;
}

#textEnd{
  margin-top: 70px;
}

.icon-rules{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icon-rules p{
  width: 70%;
}



@media only screen and (max-width: 600px) {
  canvas{
    width: 98%;
    height: auto;
    margin-left: 0;
    margin-top: 35vh;
}

  #buttons{
    position: absolute;
    bottom: 80px;
  }

 .popup > div{
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0%;
  background: url(../images/interfaces/popup.png) no-repeat;
  background-size: cover;
  border: 4px solid #000;
  border-radius: 50px;
  text-align: center;
  z-index: 20;
  opacity: 1;
 }

 .popup > div p{ 
  font-size: 11pt;
}

.popup img{
   width: 60px;
   height: 60px;
   object-fit: cover;
}

.name{
  margin-bottom: 10px;
}

}

